<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Servicio</title>
</head>
<body>
    <div class="container">
        <header>
            <img src="../img/header.png">
            <nav class="menu">
                <ul>
                    <li><a href="../index.html"><img src="../img/boton_inicio.png" class="btn1"></li></a>
                    <li><a href="servicios.html"><img src="../img/boton_servicios.png" class="btn2"></a></li>
                    <li><a href="contactos.html"><img src="../img/boton_contacto.png" class="btn3"></a></li>
                </ul>
            </nav>
            
        </header>
            <h2>Formulario de contacto</h2>
            <div class="form-box">
                <form>
                    <label>Cédula (CC)</label>
                    <input type="number" placeholder="Ingrese su cédula" required>

                    <label>Nombres</label>
                    <input type="text" placeholder="Ingrese sus nombres" required>

                    <label>Apellidos</label>
                    <input type="text" placeholder="Ingrese sus apellidos" required>

                    <label>Email</label>
                    <input type="email" placeholder="Ingrese su correo" required>

                    <label>Usuario</label>
                    <input type="text" placeholder="Ingrese su usuario" required>

                    <label>Password</label>
                    <input type="password" placeholder="Ingrese su contraseña" required>

                    <button type="submit">Enviar</button>
                </form>
            </div>
        </main>
        <footer>
            <p>Pagina web realizada por Saeb</p>
            <p>
                <a href="https://www.facebook.com/epssura/?locale=es_LA"><img src="../img/facebook .png" alt="facebook"></a>
                <a href="https://wa.me/573175180237?text=EPS%20SURA"><img src="../img/whatsapp.png" alt="whatsapp"></a>
                <a href="https://www.instagram.com/segurossura/"><img src="../img/instagram.png" alt="instagram"></a>
            </p>
            
        </footer>
    </div>
</body>
</html>