<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Servicio</title>
</head>
<body>
    <div class="container">
        <header>
            <img src="../img/header.png">
            <nav class="menu">
                <ul>
                    <li><a href="../index.html"><img src="../img/boton_inicio.png" class="btn1"></li></a>
                    <li><a href="servicios.html"><img src="../img/boton_servicios.png" class="btn2"></a></li>
                    <li><a href="contactos.html"><img src="../img/boton_contacto.png" class="btn3"></a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="información">
                
                <h2>Sobre Sura EPS</h2>
                <p>Sura EPS es una entidad promotora de salud en Colombia que hace parte del grupo SURA, dedicada a garantizar el acceso a servicios de salud de calidad para sus afiliados. Ofrece atención médica, programas de prevención, promoción de la salud y herramientas digitales para facilitar la gestión de citas y consultas. Se ha consolidado como una de las principales EPS del país, destacándose por su enfoque en el bienestar integral y la innovación en la atención al usuario.</p>
            <div>
                <h1>Locales</h1>
                <img src="../img/locales.png" alt="">
            </div>  
            <div>
                <h1>Edificios</h1>
                <img src="../img/edificios.png" alt="">
            </div>
        </main>
        <footer>
            <p>Pagina web realizada por Saeb</p>
            <p>
                <a href="https://www.facebook.com/epssura/?locale=es_LA"><img src="../img/facebook .png" alt="facebook"></a>
                <a href="https://wa.me/573175180237?text=EPS%20SURA"><img src="../img/whatsapp.png" alt="whatsapp"></a>
                <a href="https://www.instagram.com/segurossura/"><img src="../img/instagram.png" alt="instagram"></a>
            </p>
            
        </footer>
    </div>
</body>
</html>